In [134]:
# Importing Libraries

import pandas as pd
import numpy as np
import os

In [135]:
# import ords_prods_merge dataframe

df_path='/Users/ryumugil/Downloads/CF/02-12-2025 Instacart Basket Analysis'

ords_prods_merge = pd.read_csv(os.path.join(df_path, '02 Data', 'Prepared Data','orders_products_merged.csv'))

ords_prods_merge.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0

In [136]:
# Create a Subset

df= ords_prods_merge[:1000000]

In [137]:
df.shape

(1000000, 14)

In [138]:
# Define a function

ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High range product'

In [139]:
df['prices'].max()

99999.0

In [140]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [141]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [142]:
ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid range product     21861997
Low range product     10126366
High range product      417678
NaN                      30200
Name: count, dtype: int64

In [143]:
print("My age is 30")

My age is 30

In [144]:
print("My age is 32")

My age is 32

In [145]:
print("My age is 33")

My age is 33

In [146]:
for x in range (30,45):
    print("My age is %d" % (x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [147]:
ords_prods_merge['order_dow'].value_counts(dropna = False)

order_dow
0    6210030
1    5666177
6    4500536
2    4218024
5    4209718
3    3844342
4    3787414
Name: count, dtype: int64

In [148]:
result = []

for value in ords_prods_merge["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")
result()

TypeError: 'list' object is not callable